* {
  margin: auto;
  padding: auto;
}
body {
  background-color: #000000;
  font-family: arial;
  color: White;
}
.table {
  width: 80% !important;
  margin-bottom: 1rem;
  color: #212529;
  margin: 10% !important;
  border: 1px solid #dad9d9;
}
table,
tr {
  text-align: center;
}
